# Stuff built during developement / build
/node_modules
/director

# Temporary things used during merging two developement streams
/temp

# Removing SSL Certs (could contain private info)
*.cert
*.key